* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}
html {scroll-behavior: smooth;}

$textcolor:white;
body {
    background:linear-gradient(to left,#ADD8E6,#09a5da);
    color: $textcolor;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.container {
    height: 40rem;
    min-width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }
}
.btn {
    width: 100%;
    margin: 0 auto;
    position: relative;

}
.btn input {
    border:none;
    outline: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 3x 3px 22px lightgrey;

}
.btn button {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    background-color: #00bfff;
    font-size: 15px;
    border-radius: 6px;
}

.body {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: black;
    overflow-y: scroll;
    height: 30rem;
    width: 100%;
    border-radius: 8px;
    box-shadow: 3px 3px 22px lightgrey;
    position: relative;
    .todo {
        display: flex;
        justify-content: space-between;
        width: 95%;
        align-items: center;
        border-bottom: 2px solid #ADD8E6;
        font-size: 18px;
        margin:  10px;
        overflow: hidden;
        user-select: none;
        padding: 5px;

    }
    i {
        color: red;
        cursor: pointer;
    }
}
